
#page-generate-prediction {
    width: 80%;
    margin: auto;

    --border-color: #EFEFEF;

    margin-top: 200px;
}

.div-header-discover-onirix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.div-header-discover-onirix div {
    padding: 30px 0px;
    min-width: 300px;
    width: 46%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 220px;
}

.div-header-discover-onirix .container-text-discover p {
    font-size: 3em;
    text-align: center;
}

section p {
    font-size: 1.8em;
    line-height: 1.6em;
}

.dream-form {
}

.dream-form label {
    display: block;
    font-size: 2em;
    margin-bottom: 16px;
}

.dream-form .dream-textarea {
    width: 98%;
    padding: 20px;
    min-height: 200px;
    font-size: 1.8em;
    display: block;
    border-radius: 10px;
    outline: none;
    border: 1px solid #E0E0E0;
    margin: auto;
}

.container-prediction {
    margin-bottom: 20px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prediction-result {
    font-size: 1.8em;
    line-height: 1.6em;
}

.navbar-dark {
    background: #00002F;
}

.onirix-gif {
    height: 300px;
}

.ia-oniris-presentation {
    margin-bottom: 40px;
}

.animation-dream {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 800ms;
    transition-timing-function: linear;
}

.element-div-anim {
    border-radius: 100px;
    border: 1px solid black;
}
