{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/openai.css') }}" />   
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/openai.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <div>
            <p>Découvrez notre IA ONIRIX</p>
        </div>
        <div>
            <img src="{{ asset('images/onirix.png') }}" alt="openai logo" class="openai-logo" />
        </div>
    </header>

    <section>
        <p>95% de nos statisques se sont réaliser</p>

        <p>Générer une prédiction à partir d'un rêve</p>

        <form id="dream-form" method="post" action="">
            <textarea name="dream" id="dream"></textarea>
            <button type="submit">Générer</button>
        </form>
    </section>

    <div id="prediction">
        <p id="prediction-result"></p>
    </div>
{% endblock %}

